
<div class="home" style="background-image: 'assets/assets/img/home_back.png';">
<div class="home-art-menu" style="background-color: mistyrose;">
<nav class="navbar navbar-expand-lg navbar-light bg-light" style="background-color: mistyrose;" >
    <a class="navbar-brand" style="font-size:medium ;">SORT BY </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div style="background-color: mistyrose;" class="collapse navbar-collapse"  style="padding-top: 10px;" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto" >
        <li class="nav-item active" style="margin-right: 20px;"  >
          <button class="btn btn-primary" [class.active]="sortBy==='artist'" (click)="sortBy='artist'" href="#">Artist <span class="sr-only">(current)</span></button>
    
        </li>
       
        <li class="nav-item" style="margin-right: 20px;" >
          <button class="btn btn-primary" [class.active]="sortBy==='artType'" (click)="sortBy='artType'" href="#">Art Type</button>
        </li>
        
        <li class="nav-item" style="margin-right: 20px;" >
          <button class="btn btn-primary" [class.active]="sortBy==='date'" (click)="sortBy='date'" href="#">Date</button>
        </li>
        <!--<li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Dropdown
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="#">Action</a>
            <a class="dropdown-item" href="#">Another action</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Something else here</a>
          </div>
        </li> 
        <li class="nav-item">
          <a class="nav-link disabled" href="#">Disabled</a>
        </li>-->
      </ul>
      <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" (click)="filteringBy(filterByArtist)" >
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form>
    </div>
  </nav>

</div>

<br>
<div class="container" style="padding-top: 10px;">
  <div class="row">
    <ul class="list-group" *ngFor="let art of visibleArts" style="height: 600px;">
      
      <li class="list-group">
      <div class= "col-sm">
      <app-art-tiles (artistFollowed)= "followTheArtist($event)" [art] = "art"  (sendThis)="getThis($takeThis)"></app-art-tiles>
   
    </div>
</li>


  </ul>
</div>
</div>


  



<!--<td>
<div class="col-md-10" style="height: 500px;">
    <app-art-tiles [art] = "art" (artistFollowed)= "followTheArtist($followArtistId)"></app-art-tiles>
</div>
</td>
<td>
<div class="col-md-10"style="height: 500px;">
    <app-art-tiles [art] = "art" (artistFollowed)= "followTheArtist($followArtistId)"></app-art-tiles>
</div>
</td>-->

</div>