<div class="container text-center">
<div class="col-lg-7 mt-5 mt-lg-0 d-flex align-items-stretch">
    <form (submit)="OnRegisterSubmit()" class="php-email-form">
        <p class="lead">Please Fill your details!</p>
      
      

        <div class="form-group">
            <label for="name">Name</label>
            <input type="text" name="name"   class="form-control" id="name" [(ngModel)]="name" 
             />
        </div>
            
          <div class="form-group">
              <label for="name">Username</label>
              <input type="text" name="name"   class="form-control" id="username" [(ngModel)]="username" 
              />
            </div>
            
          <div class="form-group">
            <label for="name">Your Email</label>
            <input type="text" name="name"   class="form-control" id="email" [(ngModel)]="email" 
            />
            
          </div>
       
        <div class="form-group">
          <label for="name">Password</label>
          <input type="password" name="name"   class="form-control" id="password" [(ngModel)]="password" 
          />
        </div>
      
      
      <div class="text-center"><button type="submit">Register</button></div>
    </form>
  </div>
</div>