
    <!-- <head>
    <style>
        .bd-placeholder-img {
          font-size: 1.125rem;
          text-anchor: middle;
          -webkit-user-select: none;
          -moz-user-select: none;
          -ms-user-select: none;
          user-select: none;
        }
  
        @media (min-width: 768px) {
          .bd-placeholder-img-lg {
            font-size: 3.5rem;
          }
        }
      </style>

    </head>

    <body class="text-center">
 
      <div class="container">
<div class="jumbotron text-center">
<main role="main" class="inner cover">
    <h1 class="cover-heading">Artism</h1>
    <p class="lead">The “Painting is easy when you don’t know how, but very difficult when you do” </p>
    <p class="toggle-right">Edgar Degas</p>
    <div class="container"  style="width:20% ;">
    <p class="lead">
        
      <a  routerLink="/register" routerLinkActive="active"  routerLinkOptions="true"  class="btn btn-lg btn-primary  nav-link" >Register</a>
      <br>
      <a routerLink="/login" routerLinkActive="active"  routerLinkOptions="true" class="btn btn-lg btn-secondary nav-link">Login</a>
    </p>
</div>
  </main>

</div>
  
  <footer class="footer-copyright text-center py-3">
   
  </footer>
</div>
-->

<!-- Different home-->
<div class="login">
<div class="container">
  <div class="row">
      <div class="col-md-offset-8 col-md-8 text-center">
        

            <div class="form-login">
              <h1 class='text-white'>Artism </h1>
              <h5 class="quot"> If the artist has outer and inner eyes for nature, nature rewards him by giving him inspiration</h5>
             <br>
             <h6 class="we">Artism is a platform where you can be inspired and inspire others with your talent. </h6>
             <br>   
             <a  routerLink="/register" routerLinkActive="active"  routerLinkOptions="true"  class="btn btn-danger btn-lg" >Register</a>
      <br>
      <br>
      <br>
      <a routerLink="/login" routerLinkActive="active"  routerLinkOptions="true" class="btn btn-danger btn-lg">Login</a>
  
             
            
         
      </div>
  </div>
  <br>
  <!--footer-->

  <!--//footer-->
</div>

</div>